doctype html
html
    head
        title SSO
        style
            include admin.css
    body
        div.admin
            form(method='post', action='/admin')
                h2 Clients
                div.row
                    input(type='text' name='clientName' placeholder='client name' autocomplete='off')
                    input(type='text' name='clientIPS' placeholder='client ips' autocomplete='off')
                    input(type='password' name='clientPassword' placeholder='client password' autocomplete='off')
                    button(class='add' name='action' type='submit' value='addClient') Add
                each client in clients
                    div.row
                        input(type='checkbox', name='clientId' value=client.id)
                        input(type='text' name='clientName' placeholder='client name' autocomplete='off' value=client.name)
                        input(type='text' name='clientIPS' placeholder='client ips' autocomplete='off' value=client.ips)
                        div.actions
                            button(class='edit' name='action' type='submit' value='editClient') Edit
                            button(class='delete' name='action' type='submit' value='deleteClient') Delete
                h2 Users
                div.row
                    input(type='text' name='userName' placeholder='user name' autocomplete='off')
                    input(type='password' name='userPassword' placeholder='user password' autocomplete='off')
                    button(class='add' name='action' type='submit' value='addUser') Add
                each user in users
                    div.row
                        input(type='checkbox', name='userId' value=user.id)
                        input(type='text' name='userName' placeholder='user name' autocomplete='off' value=user.username)
                        div.actions
                            button(class='edit' name='action' type='submit' value='editUser') Edit
                            button(class='delete' name='action' type='submit' value='deleteUser') Delete
                h2 Roles
                div.row
                    input(type='text' name='roleName' placeholder='role name' autocomplete='off')
                    button(class='add' name='action' type='submit' value='addRole') Add
                each role in roles
                    div.row
                        input(type='text' name='roleUserName' placeholder='user name' autocomplete='off' value=role.username)
                        input(type='text' name='roleClientName' placeholder='client name' autocomplete='off' value=role.name)
                        input(type='text' name='roleName' placeholder='role name' autocomplete='off' value=role.role)
                        div.actions
                            button(class='delete' name='action' type='submit' value='deleteUser') Delete
                        
                    